---
layout: archive
permalink: /tags/
title: "Posts by Tags"
author_profile: true
---

inicio
{% include tag-list.html %}
fim

inicio 2
{% for tag in group_names %}
	<a class="tag" href="/blog/tag/#{{ tag | slugify }}">{{ tag }}</a>
{% endfor %}
fim 2

inicio 3
{% for tag in group_names %}
	<a class="page__taxonomy-item" rel="tag" href="/blog/tag/#{{ tag | slugify }}">{{ tag }}</a>
{% endfor %}
fim 3

{% include group-by-array collection=site.posts field="tags" %}

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}
