---
layout: archive
permalink: /tags/
title: "Posts by Tags"
author_profile: true
---

<!-- https://github.com/mmistakes/minimal-mistakes/blob/master/_includes/tag-list.html -->
<!-- https://github.com/justinrummel/jr.com-mm/blob/jr-branch/_pages/tags.html -->
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<p class="page__meta">
  <p class="page__taxonomy">
    <span itemprop="keywords">
      {% for item in (0..site.tags.size) %}{% unless forloop.last %}
        {% capture this_word %}{{ tag_words[item] }}{% endcapture %}
        <a href="{{ tag_word | slugify | prepend: path_type | prepend: site.tag_archive.path | absolute_url }}" class="page__taxonomy-item" rel="tag">{{ this_word }}
          <span>({{ site.tags[this_word].size }})</span>
        </a>{% unless forloop.last %}<span class="sep">, </span>{% endunless %}
      {% endunless %}{% endfor %}
    </span>
  </p>
</p>

{% include group-by-array collection=site.posts field="tags" %}

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}
