sudo: false
language: ruby
cache: bundler
rvm:
- 2.3.3

install:
  # Install Jekyll and dependencies
  - bundle install

script: bundle exec rake site:deploy --quiet #--trace

# Generate your secure token with the travis gem:
# get Github token from your Travis CI profile page
# gem install travis
# GH_TOKEN from https://github.com/settings/tokens
# travis encrypt 'GIT_NAME="YOUR_USERNAME" GIT_EMAIL="YOUR_EMAIL" GH_TOKEN=YOUR_TOKEN'
env:
  global:
    - secure: "g82OVcJl1q7OLUSnME7unjrbD1t+suCy3nQbTupeYASJScb4hmLo97PJAbM+eJp2IFwCv+bOI1qh6CXbENXmXkTaPgq2MpjRbDITnxQY39ESKH+vVnQ5I60EseHBbXwlGFnkmRH9pIN2xWQmMWZLOyKiOHjqYNiOfn0ztccZMzDVUdS6juZwwDBIGtuckwi5k/d+Mg56ly5OQEp016rdDJpEB/3ittomSeWTn0+1bAXDw3d31ts0FbAwG4DUJnUmHm0A+kRgrDPV+JBmMMyXLjzOXLAWJYPJW9UUKZXJftyZP2kR+Y94L3Q+Q5a9t4o4pCGgIv+i43cltrz2ufNqsKb98iX/AfZvK60M1Q9tJnBGr5yvA1zCmSXeiAQOIM6kwzk1HyfaEiebtgGNZ5vWpCGBNk1EiFhbGS41xHi+0HnRnf18CZ7qqmr4TrLNCGx/107xCDzr77UNA1lGIVRDfQWTmQmBSp1REL831rxcXmEQrSZuUhjwIvhHSAgtq29sxJnILIwVtlRDGueyRsoL23XH06CiaCSYeK/LAurMGdWuq9wEpE7ljdjSdtAQHlb5a3CYpg6WIJ/s2bUxoxNnIo6ypuC9I5b+S7S7/kzqmcLIcKByWq3TuccynwzTnIAHyLYrWvAPz7DNSvJ2Jd+JMv8qBLH3FgtdZK4nhBZYxzA="

branches:
  only:
    - master
